<div class="body-top">
  <button mat-button class="button" routerLink="/inicio">
    Nueva gramática
  </button>
  <div class="body-item">
    <span>La gramática es LL1</span>
  </div>
  <span>Contador de gramáticas:1</span>
</div>
<div class="body">
  <table mat-table [dataSource]="primeros" class="mat-elevation-z8">
    <ng-container matColumnDef="NoTerminal">
      <th class="thead-table" mat-header-cell *matHeaderCellDef>No Terminal</th>
      <td mat-cell *matCellDef="let element">{{ element.Nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="Tipo">
      <th class="thead-table" mat-header-cell *matHeaderCellDef>Primeros</th>
      <td mat-cell *matCellDef="let element">{{ element.Produciones }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <table mat-table [dataSource]="siguientes" class="mat-elevation-z8">
    <ng-container matColumnDef="NoTerminal">
      <th class="thead-table" mat-header-cell *matHeaderCellDef>No Terminal</th>
      <td mat-cell *matCellDef="let element">{{ element.Nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="Tipo">
      <th class="thead-table" mat-header-cell *matHeaderCellDef>Siguientes</th>
      <td mat-cell *matCellDef="let element">{{ element.Produciones }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <table mat-table [dataSource]="prediccion" class="mat-elevation-z8">
    <ng-container matColumnDef="NoTerminal">
      <th class="thead-table" mat-header-cell *matHeaderCellDef>No Terminal</th>
      <td mat-cell *matCellDef="let element">{{ element.Nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="Tipo">
      <th class="thead-table" mat-header-cell *matHeaderCellDef>
        Conjunto Predicción
      </th>
      <td mat-cell *matCellDef="let element">{{ element.Produciones }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
