<div class="body-top">
  <button mat-button class="button" routerLink="/inicio">
    Nueva gramática
  </button>
  <h2>Lista de gramaticas ingresadas</h2>
  <span>Contador de gramáticas: {{contador}}</span>
</div>
<div class="body">
    <table mat-table  [dataSource]="gramaticas" class="mat-elevation-z8">
        <ng-container matColumnDef="NoTerminal">
          <th class="thead-table"  mat-header-cell *matHeaderCellDef> Nombre gramática </th>
          <td mat-cell *matCellDef="let element"> {{element.Archivo}} </td>
        </ng-container>
      
    
        <ng-container matColumnDef="Tipo">
          <th class="thead-table"  mat-header-cell *matHeaderCellDef> Ver </th>
          <td class="table-link" *matCellDef="let element" [routerLink]="['/gramatica/ver-gramatica/',element.Id]" mat-cell > <img class="table-icon" src="./assets/VERGRAMATICA.png" alt=""> </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
