<mat-toolbar class="toolbar">
  <div class="toolbar-inicio">
    <img class="toolbar-icon" src="./assets/UCALDAS.png" alt="" />
    <span>Estructura de lenguajes</span>
  </div>
  <div class="toolbar-div">
    <form class="create-user" action="">
      <span class="toolbar-link" routerLink="/gramaticaL0">LR0</span>
      <span class="toolbar-link" routerLink="/gramaticaLRAR">LRAR</span>
      <span class="toolbar-link" routerLink="/gramatica/listar-gramatica"
        >Listar gramaticas</span
      >
      <span>Analizador Gramaticas</span>
    </form>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
