<div class="body" [formGroup]="uploadForm">
  <div class="body-item">
    <div class="image-upload">
      <label for="file-input">
        <img src="../../../../assets/JSON.png" />
      </label>
      <input
        formControlName="file"
        id="file-input"
        type="file"
        (change)="onFileSelect($event)"
        accept=".json"
      />
    </div>
    <span>{{ json }}</span>
  </div>
  <div class="body-item" (click)="cargarArchivo()">
    <img src="./assets/VERIFICAR.png" alt="" />
    <span>Verificar LL1</span>
  </div>
</div>
<div class="body-top"></div>
