<div class="body">
  <div class="body-item">
    <div class="image-upload">
      <label for="file-input">
        <img src="../../../../assets/JSON.png" />
      </label>
      <input
        id="file-input"
        type="file"
        (change)="cambio($event)"
        accept=".json"
      />
    </div>
    <span>{{ json }}</span>
  </div>
  <div class="body-item" [routerLink]="['/gramatica/ver-gramatica/']">
    <img src="./assets/VERIFICAR.png" alt="" />
    <span>Verificar LL1</span>
  </div>
</div>
